#!/bin/zsh

brewme="pre-commit tflint"

for tool in $brewme
do
  if brew list $tool &>/dev/null; then
    printf "$tool is already present at the system\n"
  else
    brew install $tool
  fi
done

pre-commit install -f --hook-type pre-commit --hook-type pre-push
